<!DOCTYPE html>
<html>
<head>
    <title>Решение квадратных уравнений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='katex.min.css') }}">

    <script defer src="{{ url_for('static', filename='katex.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='auto-render.min.js') }}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
    </script>
</head>
<body>
<h1>Решение квадратных уравнений</h1>

<p>Квадратное уравнение &mdash; уравнение вида $ax^2 + bx + c = 0$, где $a \neq 0$.</p>

<p>Общая формула для решений уравнения: $$x_{1,2} = \frac{-b\pm\sqrt{b^2-4ac}}{2a}$$</p>

<div class="solve">

<h2 class="solve">Решение уравнения</h2>

<p>Вы ввели уравнение {{formula}}.</p>

<p>Его корни:</p>
<p class="roots">
    {{x1}} <br>
    {{x2}}
</p>

</div>
<form>
    <input type="hidden" name="x1" value="{{x1}}">
    <input type="hidden" name="x2" value="{{x2}}">
</form>

</body>
</html>