<!DOCTYPE html>
<html>
<head>
    <title>Решение квадратных уравнений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Решение квадратных уравнений</h1>

<p>Квадратное уравнение &mdash; уравнение вида ax<sup>2</sup> + bx + c = 0, где a != 0.</p>

<div class="solve">

<h2 class="solve">Решение уравнения</h2>

<p>Вы ввели уравнение {{formula|safe}}.</p>

<p>Его корни:</p>
<p class="roots">
x<sub>1</sub> = {{x1}} <br>
x<sub>2</sub> = {{x2}} <br>
</p>

</div>

</body>
</html>