<!DOCTYPE html>
<html>
<head>
    <title>Решение квадратных уравнений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Решение квадратных уравнений</h1>

<p>Квадратное уравнение &mdash; уравнение вида ax<sup>2</sup> + bx + c = 0, где a != 0.</p>

<div class="coefs">

<h2>Параметры квадратного уравнения</h2>

<form action="/answer" method="post">
    <p>a = <input type="text" name="coef_a"></p>
    <p>b = <input type="text" name="coef_b"></p>
    <p>c = <input type="text" name="coef_c"></p>
    <p><input type="submit" value="Решить"></p>
</form>

</div>

</body>
</html>